Repository graphql-nexus/nexus, pull requests merged in 2020-02, with the labels that each got.

#352 feat(dev): run runners with terminal emulation
  package.json
  src/core/dev/index.ts
  src/framework/dev-mode.ts
  src/lib/logger/demo.ts
  src/lib/utils/index.ts
  src/watcher/cfg.ts
  src/watcher/child-process.ts
  src/watcher/ipc.ts
  src/watcher/runner.ts
  src/watcher/types.ts
  src/watcher/utils.ts
  src/watcher/watcher.ts
  yarn.lock
Labels: scope/dev, type/feature

#354 feat(logger): format multiline context
  package.json
  src/lib/logger/__snapshots__/index.spec.ts.snap
  src/lib/logger/demo.ts
  src/lib/logger/index.spec.ts
  src/lib/logger/prettifier.ts
  src/lib/utils/index.ts
Labels: scope/logger, type/feature

#355 feat(logger): pretty mode time diffs
  src/lib/logger/__snapshots__/index.spec.ts.snap
  src/lib/logger/index.spec.ts
  src/lib/logger/pino.ts
  src/lib/logger/prettifier.ts
  src/lib/logger/root-logger.ts
  src/lib/utils/index.ts
Labels: scope/logger, type/feature

#362 feat(core): app props as named exports
  docs/README.md
  docs/getting-started/tutorial.md
  docs/guides/logging.md
  docs/references/api.md
  src/cli/commands/create/app.ts
  src/framework/app.ts
  src/framework/index.ts
  src/framework/start.ts
  src/framework/testing.ts
  test/integration/build.spec.ts
  test/integration/prisma/build.spec.ts
Labels: note/breaking-change, scope/core, type/feature

#364 feat(logger): easier access to log function
  docs/guides/logging.md
  docs/guides/writing-plugins.md
  docs/references/api.md
  src/cli/commands/__default.ts
  src/cli/commands/build.ts
  src/cli/commands/create/app.ts
  src/cli/commands/create/plugin.ts
  src/cli/commands/dev.ts
  src/cli/commands/generate.ts
  src/core/plugin/index.ts
  src/framework/app.ts
  src/framework/config.ts
  src/framework/layout.ts
  src/framework/schema/logger.ts
  src/framework/schema/modules.ts
  src/framework/server.ts
  src/lib/cli/cli.ts
  src/lib/logger/demo.ts
  src/lib/logger/index.spec.ts
  src/utils/deploy-target.ts
  src/utils/logger.ts
  src/utils/path.ts
  src/utils/process.ts
  src/utils/scaffold.ts
  src/utils/tsc.ts
  src/watcher/child-process.ts
  src/watcher/chokidar.ts
  src/watcher/compiler.ts
  src/watcher/ipc.ts
  src/watcher/runner.ts
  src/watcher/watcher.ts
Labels: note/breaking-change, scope/core, scope/logger, type/feature

#367 feat(settings): add new system component
  docs/guides/configuration.md
  docs/references/api.md
  src/framework/app.ts
  src/framework/index.ts
  src/framework/schema/index.ts
  src/framework/schema/schema.ts
  src/framework/server.ts
  src/framework/testing.ts
  src/index.ts
  src/lib/logger/index.ts
Labels: note/breaking-change, scope/settings, type/feature

#377 feat(layout): graphql instead of schema
  docs/getting-started/tutorial.md
  docs/references/conventions.md
  docs/references/recipes.md
  src/cli/commands/create/app.ts
  src/cli/commands/doctor.ts
  src/framework/app.ts
  src/framework/layout/index.ts
  src/framework/layout/layout.ts
  src/framework/layout/schema-modules.ts
  src/framework/schema/index.ts
  src/framework/start.ts
  test/integration/build.spec.ts
  test/integration/prisma/build.spec.ts
Labels: scope/layout, type/feature

#382 feat: add server.custom api
  src/framework/app.ts
  src/framework/schema/config.ts
  src/framework/schema/index.ts
  src/framework/schema/nexus.ts
  src/framework/schema/schema.ts
  src/framework/server.ts
Labels: scope/server, type/feature

#390 docs: use nexus schema logo
  README.md
  docs/_coverpage.md
  docs/assets/nexus-logo-black.png
  docs/assets/nexus-logo-white.png
  docs/assets/nexus-terminal.png
  docs/index.html
Labels: easy, type/docs

#383 docs: more accessible initial tutorial aside
  docs/getting-started/tutorial.md
Labels: type/docs
